extends base
block content 
  div(class='dashboard m-3')
    .content-intro #{title}
    hr
    .content-container
      form.mt-5(method='post')
        .form-group
          .container
            .row
              .col-md-6
                .container-fluid
                  fieldset
                    legend  Personal Info
                    .row
                      .col-md-3
                        label ID :
                      .col-md-9
                        p= student.student_Id
                    .row
                      .col-md-3
                        label FullName :
                      .col-md-9
                        p= student.full_name
                    .row
                      .col-md-3
                        label Date of birth :
                      .col-md-9
                        p= student.birthDay
                    .row
                      .col-md-3
                        label Gender :
                      .col-md-9
                        p= student.gender
                    .row
                      .col-md-3
                        label School year :
                      .col-md-9
                        p= student.school_year
                    .row
                      .col-md-3
                        label Major :
                      .col-md-9
                        p= student.major
                    .row
                      .col-md-3
                        label Role :
                      .col-md-9
                        p= student.role
                    .row
                      .col-md-3
                        label  Other Details:
                      .col-md-9
                        p= student.other_details
              .col-md-6
                .container-fluid
                  fieldset
                    legend Contact Info
                    .row
                      .col-md-3
                        label Address :
                      .col-md-9
                        p= student.address
                    .row
                      .col-md-3
                        label Email :
                      .col-md-9
                        p= student.email
                    .row
                      .col-md-3
                        label Phone :
                      .col-md-9
                        p= student.phone
                a(class='btn btn-primary  m-1' href='/student/update-profile') Update
                                  | 
                a(class='btn btn-primary m-1' href='/student/update-pass') Change Pass
