extends base
block content
    .content
        form(method='post')
            .content-info
                h3 Personal Info
                    .row
                        .col-25
                            label ID
                        .col-75
                            b= teacher.teacher_Id
                        
                    div
                        row
                            .col-25
                                label Full name
                            .col-75
                                b= teacher.full_name

                    .row
                        .col-25
                            label Date of birth 
                        .col-75
                            b= teacher.birthDay
                        
                    .row
                        .col-25
                            label Gender 
                        .col-75
                            b= teacher.gender

                    .row
                        .col-25
                            label Department 
                        .col-75
                            b= teacher.department
                        
                    .row
                        .col-25
                            label Role 
                        .col-75
                            b= teacher.role

                    .row
                        .col_25
                            label Other Details
                        .col-75
                            p= teacher.other_details
                        
            .content-contact
                h3 Contact Info
                    form(method='post')
                        .row
                            .col-25
                                label Address
                            .col-75
                                b= teacher.address
                            
                        .row
                            .col-25
                                label Email
                            .col-75
                                b= teacher.email
                
                        .row
                            .col-25
                                label Phone 
                            .col-75
                                b= teacher.phone